r-fns/*.ps
r-fns/*.png
r-fns/*.jpg
r-fns/ps/
r-fns/*.pdf
*.txt
*.so
*.a
*.os
*.tar.gz
*#*
*.dat
.Rhistory
docs
#*.txt
# junk fron scons i guess?
*.sconsign.dblite

## default build directory
build_emulator/

## Created for some reason by cmake.
src/buildConfig.h

## additional ignores
*TAGS
*CMakeFiles
## finder's little poops
*.DS_Store
